* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f4f4f4;
  color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #222;
  color: white;
  position: sticky;
  top: 0;
}

header nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  color: orange;
}

.section {
  padding: 60px 40px;
  text-align: center;
}

.home {
  background: linear-gradient(to right, #222, #444);
  color: white;
  padding: 120px 20px;
}

.highlight {
  color: orange;
}

.btn {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background: orange;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background: #e69500;
}

.skills-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.skill {
  background: white;
  padding: 12px 25px;
  border-radius: 8px;
  box-shadow: 0 2px 5px #aaa;
}

.project-card {
  background: white;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  text-align: left;
  border-left: 5px solid orange;
  box-shadow: 0 2px 5px #aaa;
}

#contactForm {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contactForm input,
#contactForm textarea {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #999;
}

#form-status {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}
